<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" lang="fr" content="AEI"/>
    <style>
        h1 {color: #c82c2f; text-align: center;}
    </style>
    <title>[Relecture] Update sur document</title>
</head>
<body>
    <p>Bonjour,</p>
    <p>Le document <a href="{{ url('publish_document_voir', {'id': doc.id}) }}"><strong>{{ doc.name }}</strong></a> a été relu.</p>
<p><i>Robotiquement vôtre,</i><br>
    <strong>Robot AEI</strong></p>
</body>
</html>
