<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" lang="fr" content="AEI"/>
    <style>
        h1 {color: #c82c2f; text-align: center;}
    </style>
    <title>[Relecture] Update sur document</title>
</head>
<body>
    <p>Bonjour,</p>
    <p>Le document <strong>{{ doc.name }}</strong> disponible
    à <a href="erp.junior-aei.com/Documents/show/{{doc.id}}"> cette adresse</a>
    attend pour être relu. Le document est lié à l'étude <strong>{{doc.relation.etude}}. </p>
    <p><i>Robotiquement vôtre,</i><br>
    <strong>Robot AEI</strong></p>
</body>
</html>
