<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" lang="fr" content="AEI"/>
    <style>
        h1 {color: #c82c2f; text-align: center;}
    </style>
    <title>[Test de Moral] Nouveau test :</title>
</head>
<body>
<p>Bonjour,</p>
<p>Un nouveau test de moral est disponible !</p>
<p>Pour répondre au test veuillez vous connecter à l'ERP, onglet Qualité => Test de Moral, <a href="new.erp.junior-aei.com/quality/mood_answer">Espace réponse(Test de Moral)</a></p>
<p>Merci de répondre rapidement dans un délai de 24H (<strong>Il sera impossible de répondre au delà de 24H</strong>)</p>
<p>&nbsp;</p>
<p><i>Robotiquement vôtre,</i><br>
    <strong>Robot AEI</strong></p>
</body>
</html>