{"tva":0.2,"logo":"s:67:\"https:\/\/www.junior-aei.com\/wp-content\/uploads\/2016\/11\/logo_aei2.png\";","adresse":"s:58:\"1 Avenue du Docteur Albert Schweitzer, 33402 Talence CEDEX\";","url":"s:26:\"https:\/\/www.junior-aei.com\";","domaineEmailEtu":"s:18:\"enseirb-matmeca.fr\";","domaineEmailAncien":"s:18:\"enseirb-matmeca.fr\";","anneeCreation":1987,"annee1Jeyser":2018,"presidentPrenom":"s:7:\"Mathieu\";","presidentNom":"s:7:\"Brochet\";","presidentTexte":"s:15:\"Son Pr\u00e9sident,\";","tresorierPrenom":"s:6:\"Maxime\";","tresorierNom":"s:9:\"Chareyron\";","tresorierTexte":"s:15:\"Son Tr\u00e9sorier,\";","nom":"s:35:\"Aquitaine Electronique Informatique\";","abbr":"s:3:\"AEI\";","email":"s:22:\"contact@junior-aei.com\";","gaTracking":null,"namingConvention":"s:3:\"nom\";","fraisDossierDefaut":"s:2:\"90\";","pourcentageAcompteDefaut":0.4}